{{ $ := .root }}
{{ $page := .page }}

<div class="row featurette">
  {{ with $page.Title }}
  <div class="col-md-12 section-heading">
    <h1>{{ . | markdownify | emojify }}</h1>
    {{ if $page.Params.subtitle }}<p>{{ $page.Params.subtitle | markdownify | emojify }}</p>{{ end }}
  </div>
  {{ end }}

  {{ with $page.Content }}
  <div class="col-md-12">
    {{ . }}
  </div>
  {{ end }}

  {{ range $page.Params.feature }} <!-- loop -->
  <div class="col-12 col-sm-5 mx-auto card card-body bg-white">
    <div class="featurette-image d-flex justify-content-center">
      <img src="{{ .domain_image }}" alt="{{.}}" class="w-25">
    </div>
    <a href={{ .link }} class="stretched-link"><h3>{{ .name | markdownify | emojify }}</h3></a>
    {{ with .description }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
    <div class="row font-weight-bold">
      <div class="col-sm-3">
        {{ .meta_analyses }} meta-analyses
      </div>
      <div class="col-sm-3">
        {{ .papers }} papers
      </div>
      <div class="col-sm-3">
        {{ .effect_sizes }} effect sizes
      </div>
      <div class="col-sm-3">
      {{ .subjects }} subjects
      </div>
    </div> <!-- row -->
    </div>
  {{ end }}
</div>
